.btn{
    font-size: 20px;
    padding: 10px;
}

.panel{
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #ccc;
    text-align: center;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.containt{
    padding: 50px 30px;
    background-color: #ccc;
    text-align: center;
    display: none;
}